# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js Build Outputs & Cache
.next/
out/
build/

# Local Environment Variables
.env*.local

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Vercel Deployment Configurations
.vercel
